body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #fff;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
}

.titlu {
  max-width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.linie {
  width: 80%;
  height: 2px;
  background-color: #000;
  margin-bottom: 20px;
}

.usti {
  width: 300px;
  max-width: 90%;
  height: auto;
}

.butoane {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.buton {
  max-width: 250px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
